<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{'/addProduct'}" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="category">Category:</label><br>
    <input type="text" id="category" name="category"><br>
    <label for="price">Price:</label><br>
    <input type="number" id="price" name="price" step="0.01"><br>
    <label for="brand">Brand:</label><br>
    <input type="text" id="brand" name="brand"><br>
    <label for="color">Color:</label><br>
    <input type="text" id="color" name="color"><br>
    <label for="image">Image URL:</label><br>
    <input type="text" id="image" name="image"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>